* {
    color: #ccc;
}

html {
    background-color: #36393E;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

input {
    background-color: #ccc;
    color: black;
    width: 100%;
}

input::placeholder {
    color:black;
}

table {
    margin-top: 10px;
}

tr:nth-child(even) {
    background-color: #323539;
}

th {
    padding: 2.5px;
    text-align: center;
}

td {
    padding: 2.5px 10px;
    text-align: left;
}